/* ProjectList.css
 * Stylesheet for the ProjectList component. It defines the layout and animation for the container
 * that holds individual project entries.
 */

 .project-list-container {
    display: flex; /* Aligns Project components in a row */
    animation: anim 40s linear infinite; /* Applies a continuous scrolling animation */
}

/* Keyframes for the scrolling animation applied to the project list container. */
@keyframes anim {
    0% {
        transform: translateX(0); /* Starting position of the animation */
    }
    100% {
        transform: translateX(-1750px); /* Ending position, creating a scrolling effect */
    }
}
