/* TextHolder.css */

/* Container for the main text content, with full vertical space alignment and centering */
.text-main {
    height: 60vh; /* Set the height to 60% of the viewport height */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
}

/* Style for the main heading span */
.span1 {
    font-size: 4rem; /* Set font size to 4rem */
}

/* Style for the secondary span, typically used for additional text */
.span2 {
    font-size: 3.9rem; /* Set font size slightly smaller than .span1  */
}
