.image-description-container {
    display: flex;
    padding: 0 6rem;
    justify-content: space-between;
    /* width: 100vh; */
    /* display: grid; */
    min-height: 100vh;
    place-items: center;
}

.image-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
}

.image-description h1 {
    font-weight: 300;
    font-size: 4.5rem;
    margin-bottom: 2rem;
    margin-top: 0;
}

.image-description p {
    font-size: 2rem;
    font-weight: 400;
}

.image-element img {
    border-radius: 2rem;
    max-height: max(30vh, 500px);
    max-width: 45vw;
    object-fit: cover;
}