.image-description-container {
    display: flex;
    padding: 0 6rem;
    justify-content: space-between;
    /* width: 100vh; */
    /* display: grid; */
    min-height: 100vh;
    place-items: center;
}

.image-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
}

.image-description h1 {
    font-weight: 300;
    font-size: 5rem;
    margin-bottom: 2rem;
    margin-top: 0;
}

.image-description p {
    font-size: 2rem;
    font-weight: 400;
    margin: 0.5rem 0;
}

.image-element img {
    border-radius: 2rem;
    max-height: max(70vh, 500px);
    max-width: 45vw;
    object-fit: cover;
}

.bg-black {
    background-color: black;
    border-radius: 0 0 30px 30px;
    color: white;
    overflow: hidden; /* Apply rounded corners to the container */

}


.bg-grey {
    background-color: rgb(236, 236, 236);
    border-radius: 0 0 30px 30px;
}

.bg-none {
    border-radius: 0 0 5% 5%;
}