.elewa-button {
    background-color: black;
    width: 25%;
    display: flex;
    padding: 1px 5.5px 1px 16px;
    color: white;
    align-items: center;
    /* justify-content: flex-end; */
    border: 1px solid black;
    cursor: pointer;
    border-radius: 32px;
    font-size: 1.1rem;
}

.elewa-button span {
    margin: 10px;
    transition: all .3s;
}

.elewa-button section {
    position: relative;
    background-color: #f4f4f4;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    left: 0%;
    transition: all .7s;
}

.elewa-button svg {
    color: black;
    font-size: 1rem;
    margin: auto;
    height: 1em;
    vertical-align: -0.125em;
}

.elewa-button:hover {
    background-color: white;
    color: black;
    display: flex;
    justify-content: flex-start;

}

.elewa-button:hover span {
    transform: translate(20px);
}

.elewa-button:hover section{
    left: calc(-100% + 60px);
    background-color: black;
    transition: all .7s;
}

.elewa-button:hover svg {
    color: white;
}

